<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.finder.aether.system.core.mapper.SysOperateRecordMapper">
    <resultMap id="BaseResultMap" type="top.finder.aether.system.core.entity.SysOperateRecord">
        <!--@mbg.generated-->
        <!--@Table sys_operate_record-->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="operate_id" jdbcType="BIGINT" property="operateId" />
        <result column="operate_account" jdbcType="VARCHAR" property="operateAccount" />
        <result column="operate_result" jdbcType="INTEGER" property="operateResult" />
        <result column="operate_code" jdbcType="INTEGER" property="operateCode" />
        <result column="error_reason" jdbcType="LONGVARCHAR" property="errorReason" />
        <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
        <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
        <result column="time_spent" jdbcType="BIGINT" property="timeSpent" />
        <result column="operate_uri" jdbcType="VARCHAR" property="operateUri" />
        <result column="operate_method" jdbcType="VARCHAR" property="operateMethod" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, operate_id, operate_account, operate_result, operate_code, error_reason, operate_ip,
        operate_time, time_spent, operate_uri, operate_method
    </sql>
</mapper>