<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.finder.aether.base.core.mapper.DictMapper">
  <resultMap id="BaseResultMap" type="top.finder.aether.base.core.entity.Dict">
    <!--@mbg.generated-->
    <!--@Table ams_dict-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dict_type_code" jdbcType="VARCHAR" property="dictTypeCode" />
    <result column="dict_type_name" jdbcType="VARCHAR" property="dictTypeName" />
    <result column="dict_name" jdbcType="VARCHAR" property="dictName" />
    <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="dict_sort" jdbcType="INTEGER" property="dictSort" />
    <result column="data_status" jdbcType="INTEGER" property="dataStatus" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, dict_type_code, dict_type_name, dict_name, dict_code, dict_sort, data_status, 
    gmt_create, gmt_modify
  </sql>
</mapper>