<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.finder.aether.base.core.mapper.HiOperateLogMapper">
  <resultMap id="BaseResultMap" type="top.finder.aether.base.core.entity.HiOperateLog">
    <!--@mbg.generated-->
    <!--@Table ams_hi_operate-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="access_url" jdbcType="LONGVARCHAR" property="accessUrl" />
    <result column="access_app" jdbcType="VARCHAR" property="accessApp" />
    <result column="operate_user_id" jdbcType="BIGINT" property="operateUserId" />
    <result column="operate_user_account" jdbcType="VARCHAR" property="operateUserAccount" />
    <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="time_consuming" jdbcType="BIGINT" property="timeConsuming" />
    <result column="method_type" jdbcType="INTEGER" property="methodType" />
    <result column="access_result" jdbcType="INTEGER" property="accessResult" />
    <result column="error_code" jdbcType="INTEGER" property="errorCode" />
    <result column="error_message" jdbcType="LONGVARCHAR" property="errorMessage" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, access_url, access_app, operate_user_id, operate_user_account, operate_ip, device_name, 
    time_consuming, method_type, access_result, error_code, error_message, gmt_create
  </sql>
</mapper>