<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.finder.aether.base.core.mapper.UserMapper">
    <resultMap id="AmsUserMap" type="top.finder.aether.base.core.entity.User">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="user_type" jdbcType="INTEGER" property="userType"/>
        <result column="enable_status" jdbcType="INTEGER" property="enableStatus"/>
        <result column="delete_at" jdbcType="BIGINT" property="deleteAt"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>

    <sql id="sys_user_column_list">
        <!--@mbg.generated-->
        <!--@sql select -->
        au.id,
        au.account,
        au.`password`,
        au.nickname,
        au.sex,
        au.avatar_url,
        au.birthday,
        au.user_type,
        au.delete_at,
        au.enable_status,
        au.gmt_create,
        au.gmt_modify
        <!--@sql from sys_user au -->
    </sql>

    <delete id="unbindRoleOfUser" parameterType="long">
        delete from sys_user_role where user_id = #{userId,jdbcType=BIGINT}
    </delete>

    <insert id="bindRoleOfUser">
        insert into sys_user_role (user_id, role_id)
        values
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
        </foreach>
    </insert>
</mapper>